@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
}

<h3>Ürün Güncelleme</h3>

<form method="post">
    <input type="hidden" asp-for="ProductId" />
    <label>Ürün Görseli</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Ürün Adı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Ürün Açıklaması</label>
    <textarea type="text" asp-for="Description" class="form-control" rows="4"></textarea>
    <br />
    <label>Ürün Fiyatı</label>
    <input type="number" asp-for="Price" class="form-control" />
    <br />
    <label>Eğitmen</label>
    <select asp-for="InstructorName" asp-items="@ViewBag.instructors" class="form-control">
        <option disabled>Eğitmen Seçiniz</option>

    </select>
    <br />
    <button class="btn btn-primary">Güncelle</button>

</form>